h1 {
  font-family: "kaushan script";
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #e0aa69, #e6b57a, #ecbf8b, #f2ca9c, #f8d5ad, #fadbb7, #fce1c1, #fee7cb, #fde9d0, #fdebd5, #fceddb, #fbefe0);
  font-family: "lato";
}

.contenedor {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 120px 1fr 100px;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  align-self: flex-end;
}

.mainSugerencias {
  height: 100vh;
}

header div a img {
  width: 100%;
  border-radius: 50%;
  margin: 10px;
  height: 80px;
}
header div p {
  font-family: "kaushan script";
  font-size: large;
  margin: 0px 0px 0px 25px;
}

.logoAnimado {
  position: relative;
  animation-name: scale-in-center;
  animation-duration: 1s;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
.navBarItems {
  font-weight: bold;
  font-size: larger;
}

.navBarItems a:link {
  color: black;
}
.navBarItems a:visited {
  color: black;
}
.navBarItems a:hover {
  color: firebrick;
}

footer {
  display: flex;
}
footer div a img:hover {
  transform: scale(1.2);
}

.footerLogos {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.footerInstagram, .footerDireccion {
  padding: 20px 10px 20px 30px;
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenHome {
  width: 100%;
  height: 530px;
  background-image: url(../assets/img/food-pics/kebab-main.jpg);
  background-position: center;
  background-size: cover;
}

.nosotros {
  font-family: "lato";
  font-size: 25px;
  font-weight: 600;
  text-align: justify;
  padding: 15px 40px;
}

.imagenUs {
  width: 100%;
  height: 280px;
  background-image: url(../assets/img/food-pics/falafel-us.png);
  background-position: center;
  background-size: cover;
}

.menuTitle {
  text-align: center;
}

.comidas {
  display: grid;
  width: 100%;
  grid-template-columns: repeat 2, 1fr;
  grid-template-rows: repeat 3, 1fr;
  grid-template-areas: "shawarma falafel" "fatay shishKebab" "hummus fries";
}

.shawarma {
  grid-area: shawarma;
  display: flex;
  margin: 20px;
  gap: 20px;
  align-items: center;
}

.falafel {
  grid-area: falafel;
  display: flex;
  margin: 20px;
  gap: 20px;
  align-items: center;
}

.fatay {
  grid-area: fatay;
  display: flex;
  margin: 20px;
  gap: 20px;
  align-items: center;
}

.shishKebab {
  grid-area: shishKebab;
  display: flex;
  margin: 20px;
  gap: 20px;
  align-items: center;
}

.hummus {
  grid-area: hummus;
  display: flex;
  margin: 20px;
  gap: 20px;
  align-items: center;
}

.fries {
  grid-area: fries;
  display: flex;
  margin: 20px;
  gap: 20px;
  align-items: center;
}

.pedidosYa, .whatsapp {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pedidosYaLogo {
  width: 150px;
  height: 60px;
}

.whatsappLogo {
  width: 50px;
  height: 50px;
}

.ubicacion {
  padding: 10px 30px;
}

.direccion {
  padding: 10px 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map {
  display: flex;
  justify-content: center;
}

.formulario {
  margin: 20px 500px;
  background: #FFEFBA;
  background: -webkit-linear-gradient(to left top, #FFFFFF, #FFEFBA);
  background: linear-gradient(to left top, #FFFFFF, #FFEFBA);
}

.form {
  margin: 10px;
}

.calificacion {
  display: flex;
  justify-content: left;
}

.valoracion {
  padding: 5px;
}

.enviar {
  margin: 10px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  header nav div a img {
    width: 100%;
    border-radius: 50%;
    margin: 10px;
    height: 80px;
  }
  .mainIndex {
    height: 80vh;
  }
  .mainNosotros {
    height: 80vh;
  }
  .mainPedidos {
    height: 100vh;
  }
  .food {
    margin: 30px;
    flex-direction: column;
    align-items: flex-start;
  }
  .mainSugerencias {
    height: 805px;
  }
  .formulario {
    margin: 30px 200px;
  }
}
@media screen and (max-width: 576px) {
  header nav div a img {
    width: 100%;
    border-radius: 50%;
    margin: 10px;
    height: 30px;
  }
  .mainIndex {
    padding: 50px 0px;
    height: 70vh;
  }
  .imagenHome {
    width: 100%;
    height: 300px;
    background-image: url(../assets/img/food-pics/kebab-main.jpg);
    background-position: center;
    background-size: cover;
  }
  .mainNosotros {
    height: 200vh;
  }
  .comidas {
    display: grid;
    width: 100%;
    grid-template-columns: repeat 1, 1fr;
    grid-template-rows: repeat 6, 1fr;
    grid-template-areas: "shawarma" "falafel" "fatay" "shishKebab" "hummus" "fries";
  }
  .formulario {
    margin: 30px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
