header {
	div {
		a {
			img {
				@include medidas-Logo (width,radius,margin);
				height: 80px ;
            }
        }
		p{ 
			font-family: 'kaushan script'; 
			font-size: large ;
			margin: 0px 0px 0px 25px ;
        }
    }
}
.logoAnimado{ 
	position: relative; 
	animation-name: scale-in-center ;
	animation-duration: 1s ;
}
@-webkit-keyframes
	scale-in-center {
		0% {
    -webkit-transform: scale(0) ;
		transform: scale(0) ;
		opacity: 1 ;
        }
100% {
	-webkit-transform: scale(1) ;
	transform: scale(1) ;
	opacity: 1 ;
	-webkit-transform: scale(1) ;
	transform: scale(1) ;
	opacity: 1 ;
} 
}
@keyframes 
		scale-in-center {
			0% {
    -webkit-transform: scale(0); 
			transform: scale(0) ;
			opacity: 1 ;
            }
        }
.navBarItems{ 
		font-weight: bold; 
		font-size: larger ;
}

.navBarItems {
	a {
		&:link {
			color: black ;
        }
		&:visited {
			color: black ;
        }
		&:hover {
			color: firebrick;
        }
    }
}