.nosotros{
    font-family: 'lato';
    font-size: 25px;
    font-weight: 600;
    text-align: justify;
    padding: 15px 40px;
}

.imagenUs{
    width: 100%;
    height:280px;
    background-image: url(../assets/img/food-pics/falafel-us.png);
    background-position: center;
    background-size: cover;
    }