.menuTitle{
    text-align: center;
}
.comidas{
    display: grid;
    width: 100%;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (3, 1fr);
    grid-template-areas: 
    "shawarma falafel"
    "fatay shishKebab"
    "hummus fries";
    }
.shawarma{
    grid-area: shawarma;
    @include props-flex(margin,gap,align);
}
.falafel{
    grid-area: falafel;
    @include props-flex(margin,gap,align);
}
.fatay{ 
    grid-area: fatay;
    @include props-flex(margin,gap,align);
}
.shishKebab{
    grid-area: shishKebab;
    @include props-flex(margin,gap,align);
}

.hummus{
    grid-area: hummus;
    @include props-flex(margin,gap,align);
}

.fries{ 
    grid-area: fries;
    @include props-flex(margin,gap,align);
}
