@media screen and (max-width:768px) {
    header nav div a img{
        @include medidas-Logo (width,radius,margin);
        height: 80px;
    }

    .mainIndex{
            height: 80vh;
        }
    .mainNosotros{
        height: 80vh;
        }
    .mainPedidos{
        height: 100vh;
    }
    .food{
            margin: 30px;
            flex-direction: column;
            align-items: flex-start;
        }
    .mainSugerencias{
        height: 805px;
    }
    .formulario{
            margin: 30px 200px;
        }
}